name: build

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    name: Check TFLint Version
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 #v3.6.0
    - name: Docker Build Test
      run: |
        docker build $(sh build-arg-helper.sh version.env) -t localrunner .
    - name: Run Trivy vulnerability scanner
      uses: aquasecurity/trivy-action@master
      with:
        image-ref: 'localrunner'
        format: 'table'
        exit-code: '1'
        severity: 'CRITICAL,HIGH'
        trivyignores: '.trivyignore'
        timeout: '120m'
        scanners: 'vuln'