name: Pre Pull Request Check
on:
  workflow_call:

jobs:
  prepr-check:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 #v3.6.0
      - name: pr-check
        run: |
          docker run --rm -v $(pwd):/src -w /src -e SKIP_CHECKOV -e GITHUB_TOKEN mcr.microsoft.com/azterraform:latest make pr-check
      - name: Set up Go
        uses: actions/setup-go@6edd4406fa81c3da01a34fa6f6343087c207a568 #3.5.0
        with:
          go-version: 1.21.3
      - name: Initialize CodeQL
        uses: github/codeql-action/init@6a28655e3dcb49cb0840ea372fd6d17733edd8a4 #v2.21.8
        with:
          languages: go
      - name: build-test
        run: |
          make build-test
      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@6a28655e3dcb49cb0840ea372fd6d17733edd8a4 #v2.21.8
      - name: Breaking Change Brief
        run: |
          c=$(docker run --rm -t -v $(pwd):/src -w /src mcr.microsoft.com/azterraform:latest breaking_detect /src ${{ github.repository_owner }} ${{ github.event.repository.name }} ${{ github.base_ref }})
          if [ ! -z "$c" ]; then
            msg=$(printf "Potential Breaking Changes in ${{ github.event.pull_request.head.sha }}:\n${c}")
            jq -n --arg msg "$msg" '{pr: ${{ github.event.pull_request.number }}, body: $msg}' > change
          fi
      - name: Check change existence
        id: check_change
        uses: andstor/file-existence-action@f02338908d150e00a4b8bebc2dad18bd9e5229b0 #v1.1.0
        with:
          files: "change"
      - name: 'Upload breaking change warning'
        if: steps.check_change.outputs.files_exists == 'true'
        uses: actions/upload-artifact@82c141cc518b40d92cc801eee768e7aafc9c2fa2 #v2.3.1
        with:
          retention-days: 1
          name: change
          path: change